.content {
  margin-left: auto;
  margin-right: auto; }

.content {
  border-radius: 8px; }

.body {
  text-align: center; }

.body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.content {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  width: 480px;
  height: auto;
  margin-top: 50px;
  padding: 15px; }

.babidi {
  width: 120px;
  height: 170px;
  border: 1px solid #bdbdbd;
  border-radius: 50%; }
