.body
	@extend %ta-c
	font-family: sans-serif
	margin: 0
	padding: 0

.content
	@extend %border
	@extend %horizontal-cent
	background-color: #f8f8f8
	border: 1px solid #ccc
	width: 480px
	height: auto
	margin-top: 50px
	padding: 15px


.babidi
	+image-size__cicle( 120px, 170px )